$primary: rgba(255, 255, 255, 0.99) !default;
$secondary: rgba(0, 0, 0, 0.99) !default;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-size: 16px;

  color: $secondary;
  background-color: $primary;
}

.nav-toggle-label {
  display: none;
}
.header {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 1fr;
  padding: 0;
  margin: 0;
  border: 1px black;
}
.logo {
  grid-column: 2 / 3;
  padding: 0;
  margin: 0;
}
.nav {
  grid-column: 3/ 4;
  border: solid 1px red;
  display: flex;
  justify-content: center;
}

.nav-bar {
  border: none;
  box-shadow: none;
  padding: 0;
  margin: 0;
  position: relative;
  top: 0;
}
.list-items {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border: none;
  box-shadow: none;

  background-color: $primary;
  color: $secondary;
}
.item {
  margin: 0 2em 0 0;
  padding: 0;

  border: none;
  box-shadow: none;
  color: $secondary;
}
.link {
  color: $secondary;
}
