$secondary: rgba(26, 20, 35, 1) !default;
$primary: rgba(232, 221, 217, 1) !default;
$success: lighten($secondary, 30) !default;
$underline: lighten($secondary, 30) !default;
$navBarBackground: rgba(#e8ddd9, 0.3);
$navBarShadow: $secondary !default;
$navBarFixedBackground: $secondary !default;
$background: #e8ddd9;
@font-face {
  font-family: "big jhon";
  src: url("../fonts/big_jhon.otf") format("opentype");
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-size: 16px;
  font-family: "Roboto Slab", serif;
}
html {
  scroll-behavior: smooth;
}

.header {
  margin: 0;
  padding: 0;
}

.nav-bar {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  height: 4rem;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  background-color: $navBarBackground; // rgba(26, 20, 35, 0.5);
  box-shadow: 0 0 1rem 0 $navBarShadow;
  //0 0 0.6rem 0 darken($underline, 30); // rgba(31, 92, 23, 0.5);
  transition: background-color, box-shadow 300ms ease-in;

  z-index: 1;
}
.nav-bar-fixed {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  height: 4rem;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;

  background-color: $navBarFixedBackground;
  box-shadow: 0 0 0.4rem 0 $navBarShadow; //lighten($underline, 10);
  //0 0 0.6rem 0 darken($underline, 30); // rgba(31, 92, 23, 0.5);
  transition: background-color, box-shadow 300ms ease-in;

  z-index: 1;
}
.logo {
  flex: 1 1 auto;
  margin-left: 10%;

  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 2rem;
  color: $secondary;
  display: flex;
  justify-content: left;
  align-items: center;
}
.logo img {
  width: 2rem;
  height: 2rem;
}

.list-items {
  display: flex;
  justify-self: space-around;
  align-items: center;
  //margin-right: 15%;
  list-style: none;
}

.item {
  margin: 0 2em 0 0;
  padding: 0;

  border: none;
  box-shadow: none;
}

.link {
  position: relative;
  margin: 0;
  padding: 0;
  font-size: 1rem;

  font-family: "Poppins", sans-serif;
  font-weight: bold;
  color: #1a1423; //$primary;
  transition: color 200ms;
}

.link:after {
  position: absolute;
  bottom: -5px;
  left: 0;
  content: "";
  width: 0;
  height: 2px;
  background-color: $success; //lighten($underline, 100);
  transform-origin: center;
  transform: scaleX(0.25);
}

.link:hover {
  color: $navBarShadow;
}

.link:hover::after {
  width: 100%;
  transform-origin: center;
  transform: scaleX(1);
  transition: transform 300ms;
}
.banner-area {
  position: relative;
  width: 100%;
  height: 100vh;
  background-position-x: 75%;
  background-position-y: 50%;
  background-image: url("../../dist/img/1.jpg");
  background-repeat: no-repeat;
  //background-position-y: 4rem;
  background-size: cover;
}
.banner-area h1 {
  position: absolute;
  left: 50%;
  top: 50%;
  font-size: 4rem;
  font-weight: bold;
  font-family: "big jhon";
  transform: translate(-50%, -50%);
}

.section {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100vh;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
  font-family: "big jhon";
  margin-bottom: 1rem;
}

p {
  font-size: 1.5rem;
  line-height: 2rem;
}
.content {
  width: 65%;
  height: 80%;
}
.section-light {
  background-color: $primary;
  color: lighten($secondary, 30);
}
.section-dark {
  background-color: lighten($secondary, 30);
  color: $primary;
}
.section h2 {
  color: $secondary;
}

.dropdown-list {
  list-style: none;

  position: absolute;
  top: 5rem;
  left: 44%;
  width: 300px;
  box-shadow: 0 0 1rem 0 $navBarShadow;
  background-color: $secondary;
  display: flex;

  flex-direction: column;
  justify-items: center;

  transform-origin: -400px;
  transform: scale(0, 0);
  transition: transform 300ms ease-in-out;
  padding: 1rem;
}
.dropdown-item {
  padding-left: 10%;
  line-height: 2rem;

  cursor: pointer;
  display: flex;
  align-items: center;
}
.dropdown-link {
  color: $background;
}

.dropdown-item:hover {
  background-color: $background;
}
.dropdown-item:hover .dropdown-link {
  color: $success;
}

.nav-toggle:checked ~ .dropdown-list {
  transform: scale(1, 1);
}
.nav-toggle-label {
  font-family: Poppins;
}
.nav-toggle {
  display: none;
}

.nav-bar-fixed .link {
  color: $primary;
}
